{% extends 'layout.html' %}

{% block title %}
About page
{% endblock title %}

{% block main %}
<h1 class="about-owner">Profile - {{user_id}}</h1>
<div class="about-grid">
{% for pet in user_pet %}
  <form method="GET" action="/about">
  <input type="hidden" name="id" value="{{ pet.id }}">

  <div class = "about-image-container ">
    <span class="about-name"> {{pet.name}}
    <p class="about-species"> the {{ pet.type }}</p>
    </span> 
    <img class="about-image" src="{{ pet.image_url }}" alt="{{ pet.name }}">
      <div class="about-details-container">
      <div style = "font-size: 1rem;">&#128161;</div>
      <p class="pet-food">Loves {{pet.favourite_food}}</p>
      <p id = "heart_button">❤️ {{pet.num_hearts}}</p>
      </div>
  </div>
  </form>
{% endfor %}
</div>
{% endblock main %}

