{% extends 'layout.html' %}

{% block title %}
Edit profile picture
{% endblock title %}

{% block main %}
<div class = "form-container">
<h1 class = "edit-password">Update profile picture</h1>
    <form name = "edit_profile_picture" action = "/edit_profile_picture" method = "post" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="{{ session['id'] }}">
        <div class="edit-profile-pic">
        <input type = "file" name = "image" />
        <button id = "edit-picture" type = "submit">Update</button>
    </form>
        </div>
</div>
{% endblock main %}