{% extends 'layout.html' %}

{% block title %}
Edit password
{% endblock title %}

{% block main %}
<div class = "form-container">
    <h1 class = "edit-password">Update password</h1>
    <form  name  = "edit_password" action = "/edit_password" method = "post" >
    <input type="hidden" name="user_id" value="{{ session['id'] }}">
    <div class="edit-group">
    <label for = "password">Password</label>
    <input type = "password"  name = "password" placeholder="Password">
    </div>
        <div class="edit-group">
        <label for = "password_check">Confirm password</label>
        <input type = "password"  name = "password_check" placeholder= "Confirm password">
        </div>
        <button id = "update-password" type = "submit">Update</button>
    </form>
</div>

{% endblock main %}