<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/static/style.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <h1 class = "logo-text"><img class = "logo" src = "/static/images/ReelPets.png">ReelPets</h1>
        {% if 'name' not in session %}
        <h4>Welcome Guest</h4>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {% endif %}
        {% if 'name' in session %}
        <span id = "profile-pic-name">
       <span class = "profile-name">{{session['name']}}</span> <img class="profile-image"  src="{{ image_url }}" alt="{{ session['name'] }}">
        </span>
        <a href="/logout">Logout</a>
        <div class = "Edit-Profile">
            <label for = "Edit-Profile">Update Profile</label>
            <div class = "Edit-Options">
                <ul>
                    <!-- <li><a href = "/edit_username" >Username</a></li> -->
                    <li><a href = "/edit_password" >Password</a></li>
                    <li><a href = "/edit_profile_picture" >ProfilePicture</a></li>
                </ul>
            </div>
        </div>
        <a href = "/profile">Profile</a>
        {% endif %}
        <a href = "/">Home</a>
            
    </nav>
    <div class = "error-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %} 
        <h1 class="{{ category }}">{{ message }}</h1>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% block main %}

{% endblock %}    
<script src= "/static/main.js"></script>
</body>
</html>