{% extends 'layout.html' %}


{% block title %}
Login page
{% endblock title %}

{% block main %}
<div class = "form-container">
    <h1 class = "login-page">Login Page</h1>
    <form action = "/login" method = "post">
        <div class="login-group">
        <label for = "user_name">UserName</label>
        <input type = "text" name = "user_name" placeholder="User Name" >
        </div>
            <div class="edit-group">
                <label for = "password">Password</label>
                <input type = "password"  name = "password" placeholder="Password">
            </div>
                <button id="login" type = "submit">Login</button>
    </form>
</div>

{% endblock main%}