{% extends 'layout.html' %}

{% block title %}
Profile page
{% endblock title %}


{% block main %} 
<h1> Profile page! </h1>
<form name = "register" action = "/profile" method = "post">
    <input type="hidden" name="user_id" value="{{ session['name'] }}">
  
    <label for = "name">Name</label>
    <input type ="text" name = "name" placeholder="Pets name">

    <label for = "type">Type</label>
    <input type ="text" name = "type" placeholder="Type of pet">

    <label for = "image_url">Image url</label>
    <input type = "text" name = "image_url" placeholder="Image url">

    <label for = "favourite_food">Favourite food</label>
    <input type = "text" name = "favourite_food" placeholder="Favourite food">

    <button id = "profile_btn" type = "Submit">Submit</button>
</form>
{% if user_pet %}
  <h2>Your pets</h2>
  <div>
  {% for pet in user_pet %}
  
      <img class="pet-image" width = "500"  src="{{ pet.image_url }}" alt="{{ pet.name }}">
      <div class="pet-details"></div>
      <form method="GET" action="/delete">
        <input type="hidden" name="id" value="{{ pet.id }}">
        <button id = "delete" type = "Submit">Delete</button>
      </form>
     
      <h3 class="pet-name"></h3>{{ pet.name }}</h3>
      <p class="pet-species">{{ pet.type }}</p>
      <p class="pet-food">{{ pet.favourite_food }}</p>
      <p id = "heart_button">❤️{{ pet.hearts }}</p>
   
  {% endfor %}
  </div>
{% else %}
  <p>You don't have any pets yet!</p>
{% endif %}
{% endblock main %}

