{% extends 'layout.html' %}


{% block title %}
Signup Page
{% endblock title %}

{% block main %}
<h1>Signup Page</h1>
<form name = "signup" action = "/signup" method = "post">

<label for = "user_name">UserName</label>
<input type = "text" name = "user_name" placeholder="User Name" >

<label for = "password">Password</label>
<input type = "password"  name = "password" placeholder="Password">

<label for = "password_check">Confirm password</label>
<input type = "password"  name = "password_check" placeholder= "Confirm password">

<button id = "signup" type = "submit">Signup</button>
</form>

{% endblock main%}